 
	 
	      #div1{
		         width:1250px;height:533;
				 
				
				}
				
				
		     .div2{
			       
				   width:1250px;height:100px;
				  
				   background:blue;
				   float:right;
				   
				  }
				  
				  
				 .div3{
				        
						width:1250px;height:530px;
						
						background:orange;
						
						
						
						
				 
				 
				       }
					   
					 .divname{
					          
							  width:600px;height:400px;
							 
							 }
					 .divimage{
					          
							   width:600px;height:400px;
							  
							   float:right;
							   margin-top:-300px;
							  }
							  
							  
					 .divserivce{
					              width:1250px;height:560px;
								  
				                }
								
					 .divsafa{   
					           width:250px;height:400px;
							  
							  }
							  
				  .coatpant{   
					           width:250px;height:400px;
							   
							   float:center;
	                           margin-left:320px;margin-top:-400px;
	                        }
				.shoes{   
					        width:250px;height:400px;
						   
						    float:center;
	                        margin-left:640px;margin-top:-400px;
	                        }
			     .shervani{
					 
					      width:250px;height:400px;
						    
						   float:right;
	                        margin-left:1000px;;margin-top:-400px;
				            }
					
                  .WEDDING-SHOP{
					  
					  
					            width:1250px;height:1200px;
								
								margin-top:-20px;
								background:skyblue;
				  }					
				  
				  .kot{
					   width:216px;height:310;
					   
					   margin-left:120px;
				  }

				    .sher{
						   width:216px;height:310px;
					   
					   margin-left:560px;
					
					   margin-top:-300px;
					     }
				
				   .child{
					         width:216px;height:310px;
					   
					   margin-left:1000px;
					   margin-top:-300px;
					   ma
				   }
				   .kottext{
					         width:400px;height:100px;
							
							 margin-left:-70px;
							 margin-top:-10px;
							
				           }
				      .shertext{
						         width:400px;height:100px;
								
								 margin-left:-80px;
								 margin-top:-7px;
								 
					            } 

                          .childtext{
							         width:350px;height:100px;
									
									 margin-left:-90px;
						            }	
 
                                 .safha{
									    
									    width:220px;height:240px;
										
										margin-left:120px;
								 } 
								
								.tie{
									  width:220px;height:240px;
									 
									  margin-left:550px;
									  margin-top:-240px;
								}
								
								.blazer{
									     width:216px;height:240px;
										 
										 margin-top:-240px;
										 margin-left:950px;
								}
								
								
								.safhatext{
									       width:400px;height:100px;
										   
										   margin-left:-50px;
								}
								
								.tietext{
									      width:360px;height:100px;
										  
										  margin-left:-40px;
								}
								.blazertext{ width:300px;hight:100px;
								
									
								}
								.normal{
									    width:1250px;height:200px;
										
										background:mediumblue;
								}
								
								.demin{
									    width:150px;height:150px;
									   
									   
									   margin-left:20px;
								}
								.donear{ 
								        width:150px;height:150px;
									
										margin-left:350px;
										margin-top:-154px;
								}
								
							.raymond{
								     width:150px;height:150px;
									
									  margin-left:700px;
									  margin-top:-154px;
							}
							.siyarams{
								      width:150px;height:150px;
									  
									  margin-left:1000px;
									  margin-top:-154px;
							}
							
							.team{ 
							       width:1250px;height:700px;
								   
								   background:silver;
							}
							
							.teamphoto{
								        width:200px;height:300px;
										
										margin-left:200px;
										margin-top:70px;
							}
							
							.teamleader{ 
							             width:200px;height:300px;
										 
										 margin-left:800px;
										 margin-top:-290px;
										 
							}
							
							.ABOUTUS{
								      width:1250px;height:600px;
									 
									  background:snow;
							}
							.abouttext{
								        width:500px;height:400px;
										
										margin-left:30px;
										margin-top:100px;
							}
							
							.aboutphoto{
								         width:350px;height:400px;
										 
										 margin-left:850px;
										 margin-top:-410px;
							}
							
							
							.contact{
								        widht:1250px;height:700px;
									
										background:#333333;
							}
							        
							
							 .message{
                                       width:350px;height:400px;
                                       
									   margin-left:850px;
									   margin-top:-200;
							 }									   
